<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>MyAddinSCR</Name><AddInID>{67ef71c5-3de0-440a-a55b-36c7a0b224af}</AddInID><Description>This add_in was created for Select,Count and Reset operation in a one toolbar</Description><Version>0.1</Version><Image /><Author>ShahabEsfandiar</Author><Company>KNTU</Company><Date>01/28/2023</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="MyAddin_addin.py" namespace="MyAddin_addin"><ArcMap>
    <Commands>
        <Button caption="Reset" category="MyAddinSCR" class="ButtonClass1" id="MyAddin_addin.button" image="" message="" tip="Reset selection attribiutes"><Help heading="" /></Button>
        <ComboBox caption="Name" category="MyAddinSCR" class="ComboBoxClass2" id="MyAddin_addin.combobox" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Values of choosen column"><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="SCR" category="MyAddinSCR" id="MyAddin_addin.toolbar" showInitially="true"><Items><Button refID="MyAddin_addin.button" /><ComboBox refID="MyAddin_addin.combobox" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>